In [10]:
#Quadratic roots
a = int(input('Enter the value of a ='))
b = int(input('Enter the value of b ='))
c = int(input('Enter the value of c ='))
if a!=0:
 disc = (b**2)-(4*a*c)
 if disc>=0:
  x1 = (-b + disc**0.5)/(2*a)
  x2 = (-b - disc**0.5)/(2*a)
  print('The value of x1 is',x1)
  print('The value of x2 is',x2)
 else:
  print('Roots are not real')
else:
  print('solution is undefined')
#you can also do return in all if and else or elif

Enter the value of a = 2
Enter the value of b = 7
Enter the value of c = 1

The value of x1 is -0.14921894064178787
The value of x2 is -3.350781059358212

In [11]:
#Quadratic roots in function
def f(a,b,c):
 if a!=0:
  disc = (b**2)-(4*a*c)
  if disc>=0:
   x1 = (-b + disc**0.5)/(2*a)
   x2 = (-b - disc**0.5)/(2*a)
   print('The value of x1 is',x1)
   print('The value of x2 is',x2)
  else:
   print('Roots are not real')
 else:
   print('solution is undefined')

a = int(input('Enter the value of a ='))
b = int(input('Enter the value of b ='))
c = int(input('Enter the value of c ='))
f(a,b,c)

Enter the value of a = 3
Enter the value of b = 7
Enter the value of c = 1

The value of x1 is -0.15287291161696345
The value of x2 is -2.18046042171637

In [16]:
#Recaman sequence with function
def func_recaman(n):
 recaman = [0]
 for i in range (1,n):
  y = recaman[-1]
  x = y - i
  if x>0 and x not in recaman:
   recaman.append(x)
  else:
   x = y+i
   recaman.append(x)
   i=i+1
 print(recaman)

n = int(input('Enter the value of n:'))
func_recaman(n)

Enter the value of n: 30

[0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22, 10, 23, 9, 24, 8, 25, 43, 62, 42, 63, 41, 18, 42, 17, 43, 16, 44, 15]

In [9]:
#list in descending order but also modifies the actual list
def reverse_func(mylist):
 #mylist2=list()
 for i in range (1,8):
  x = mylist[i]
  j = i
  while j>0 and mylist[j-1]<x:
   mylist[j]=mylist[j-1]
   #a = mylist[j]
   #print(a)
   #mylist2.append(a)
   j = j-1
   mylist[j] = x
   #b = x
   #mylist2.append(b)
 print(mylist)

mylist=[1,-99,89,0,234,77,-748,11]
reverse_func(mylist)
print(mylist)

[234, 89, 77, 11, 1, 0, -99, -748]
[234, 89, 77, 11, 1, 0, -99, -748]

In [11]:
#list in descending order but not modifying the actual list
mylist=[1,-99,89,0,234,77,-748,11]
mylist2 = sorted(mylist, reverse=True)
print(mylist2)
#or do the following without reverse=true
#print(mylist2[::-1])

[234, 89, 77, 11, 1, 0, -99, -748]

In [12]:
a = [3, 2, 5, 11, 7, 13, 17, 19]
b = [5, 3, 1, 15, 9, 11, 13, 11]
c = list(set(a) & set(b))
print(c)

[11, 13, 3, 5]

In [22]:
def func_pairs(n):
 pairs = [(i,n//i) for i in range(1,n) if n%i==0]
 unique_pairs = [(i,j) for i,j in pairs if i<=j]
 print(unique_pairs)

n = int(input('Enter an integer number'))
func_pairs(n)

Enter an integer number 20

[(1, 20), (2, 10), (4, 5)]

In [19]:
%%time
l = list()
for i in range(1,1000):
 if i%3==0:
  l.append(i)     
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
CPU times: user 125 μs, sys: 36 μs, total: 161 μs
Wall time: 168 μs

In [18]:
%%time
l1 = [i for i in range(1,1000) if i%3==0]
print(l1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
CPU times: user 96 μs, sys: 27 μs, total: 123 μs
Wall time: 129 μs

In [112]:
%%time
l2 = list()
for i in range(1,2000):
 if i%3==0:
  l2.append(i)     
print([i for i in l2 if i<=1000])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
CPU times: user 331 μs, sys: 0 ns, total: 331 μs
Wall time: 339 μs

In [24]:
l3=list(range(0,1000,3))
print(l3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [25]:
def func_palindrome(s):
 
 s1 = s.replace(" ","")
 s2 = s1.lower()
 reverse_s = s2[::-1]
 if reverse_s==s2:
  print("It is a palindrome")
 else:
  print("not a palindrome")

s = 'Sit on a potato pan Otis'
func_palindrome(s)

It is a palindrome

In [39]:
def max_occ(s):
 return max([(i, s.count(i)) for i in set(s.lower())], key=lambda x: x[1])
    
a = 'She saw sea shells on the sea shore'
print(max_occ(a))

(' ', 7)